header {
  background-color: #343a40;
  color: white;
  margin-top: 0px;
  text-align: center;
  font-family: sans-serif;
  padding: 30px 30px 25px 30px;
}
body {
  margin: 0;
  background-image: url(https://www.publicdomainpictures.net/pictures/90000/velka/global-business-background-1401191474DOO.jpg);
}
.submitButton {
  background-color: lightgray;
  margin-left: 25%;
}

.container {
  margin: 0 auto;
}
.form-control {
  margin: 10px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
.table td,
.table th {
  padding: 0.75rem;
}
footer {
  font-size: 24px;
  padding-bottom: 20px;
  padding-left: 20px;
}
h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
